body  {
    background-color: #221910;
    max-width: 960px;
    margin: 0 auto !important;
    float: none !important;
}
  
header{
    height: 60px;
    margin-top: 80px; 
}  
nav{
    background-color: darkred;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

footer{
    background-color: #000000;
    width: 960px;
    height: 100px;
}
main {    
    text-align: center;
    margin-top: 30px;
}

h1 {
    color: rgb(96, 128, 0);
    margin-left: 20px;
}
.banner {
    width: 900px;
    height: 300px;
    margin-left: 30px;
    background-color: #7cbe5c;
    background-image: url(../images/Bunner1.png);
}

.button {
    background-color: #2b231c;
    color: #918c89;
    width: 120px;
    height: 40px;
    
}
.button a {
    color: #606060;
}
.selectedButton a {
    color: #ffffff;
}

.selectedButton{
    background-color: #2b231c;
    color: #ffffff;
    width: 120px;
    height: 36px;
    border-bottom: 4px solid #f6b733;
    
}
.list-func-point{
    column-count: 2;
    color: #2c2c2c;
}

p{
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    color: #ffffff;
    font-size: 50%; 
} 
.container{
    background-color: #2e251c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin: 30px 30px;
    border-width: 1px;
    border: solid;
}
.container > div{
    align-items: stretch;
    border: solid 1px;
    margin: 15px;
    width: 260px;
}
.container_proj{
    background-color: #2b231c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 30px;
    border-width: 1px;
    border: solid;
}
.container_proj > div{
    margin: 8px;
    width: 260px;
}
.container_client{
    background-color: #2b231c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 30px;
}
.container_client > div{
    margin: 8px;
    width: 260px;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 30px;
}
.box > div{
    align-items: stretch;
    width: 260px;
}

h3{
    font-family: sans-serif;
    color: #ffffff;
    margin: 10px;
}
h5{
    margin: 10px;
}
